* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.Ord {
  font-size: 0.5cm;
  margin-top: -80px;
  color: a8ba9a;
}

.title {
  display: flex;
  justify-content: center;
}

h1 {
  color: #1a090d;
  align-items: center;
  font-family: Lucida handwriting;
}

body {
  margin: 0%;
  padding: 0;
  margin-right: 0%;
}

header {
  font-family: "Roboto Slab", serif;
  padding: 30px;
  background-color: red;
  color: Black;
}

div {
  width: 100%;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 0px;
}

a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: red;
  color: black;
}

.fixed {
  position: fixed;
  bottom: 0px;
}

ul a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  font-family: arial;
  text-align: center;
}

li a {
  float: left;
  width: 100%;
}

li a {
  display: block;
  color: white;
  padding: 1%;
  text-decoration: none;
  font-size: 100%;
}

li a:hover {
  background-color: white;
}

:root {
  --dark: #1a090d;
  --purp: #4a314d;
  --mid: #6b6570;
  --light: #a8ba9a;
  --signal: #ace894;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

::selection {
  background-color: var(--mid);
  color: var(--signal);
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  background-color: var(--signal);
  border-radius: 20px;
  border: 2px solid var(--dark);
}

.nav-area {
  position: fixed;
  top: 1vw;
  left: 3vw;
  font-size: 3rem;
}

nav {
  position: fixed;
  top: 0;
  left: -15vw;
  width: 15vw;
  height: 100vh;
  transition: 600ms ease-in-out;
  background-color: red;
  box-shadow: 0 1rem 1rem var(--dark);
}

aside {
  align-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

nav a {
  font-size: 3rem;
  color: var(--light);
  text-decoration: none;
  transition: filter 600ms ease-out;
}

nav a:hover {
  filter: hue-rotate(180deg);
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked + nav {
  left: 0;
}

main {
  padding: 0 15vw;
}

main h2 {
  margin-top: 5rem;
}

main p {
  line-height: 1.6;
  max-width: 80ch;
}

main h2 + P {
  margin-top: 2rem;
}

main p + P {
  margin-top: 1rem;
  justify-content: center;
}

.pizza-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 35px;
  font-family: "Lucida Console";
}

.vego-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 35px;
  font-family: "Lucida Console";
}

.pizza-card {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #333;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: "Lucida Console";
}

.vanliga-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  font-family: "Lucida Console";
}
.vanliga-card {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.ovanliga-card {
  width: 1000px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.adress {
  border: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 50px;
  display: block;
}

.startsidaicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 125px;
  font-family: Lucida handwriting;
  font-size: 1.3rem;
}

.pastaicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 125px;
  font-family: Lucida handwriting;
  font-size: 1.3rem;
}

.hamburgareicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 300px;
  font-family: Lucida handwriting;
  font-size: 1.2rem;
}

.pizzaicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 500px;
  font-family: Lucida handwriting;
  font-size: 1.3rem;
}

.vegoicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 650px;
  font-family: Lucida handwriting;
  font-size: 1.3rem;
}

.pastaiconh {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 300px;
  font-family: Lucida handwriting;
  font-size: 1.3rem;
}

.hamburgareiconp {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 480px;
  font-family: Lucida handwriting;
  font-size: 1.2rem;
}

.hamburgareiconv {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 650px;
  font-family: Lucida handwriting;
  font-size: 1.2rem;
}

.fa-map-marked-alt {
  font-size: 5rem;
}

.fa-house-user {
  font-size: 3rem;
}

/* 
Beroende på skärmstorlek
*/
.horizontal-menu {
  display: none;
  left: 700px;
  top: 2px;
}

.buger-menu {
  display: block;
}

.burger-menu-small {
  display: none;
}

.tider-card {
  display: none;
  width: 350px;
  height: 350px;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #333;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: "Lucida Console";
  position: absolute;
  top: 100px;
  right: 10px;
}

@media (min-width: 1800px) {
  .burger-menu {
    display: none;
  }

  .horizontal-menu {
    display: block;
  }
}

@media (min-width: 1600px) {
  .tider-card {
    display: flex;
  }
}

@media (max-width: 1100px) {
  .burger-menu {
    display: none;
  }

  .burger-menu-small {
    display: block;
  }
}

@media (max-width: 500px) {
  .adress {
    display: none;
  }
}

@media (max-width: 430px) {
  .vanliga-card {
    display: none;
  }

  .ovanliga-card {
    display: flex;
  }
}
