body {
  margin: 0%;
  padding: 0;
  margin-right: 0%;
}

header {
  font-family: "Roboto Slab", serif;
  padding: 24px;
  background-color: red;
  color: Black;
}

div {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 16px;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}

p {
  max-width: 100ch;
  margin: 16px;
}

a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #ffffff;
  color: black;
}

article {
  font-family: "Roboto Slab", serif;
}

td {
  vertical-align: top;
}

ol li {
  line-height: 1;
}

footer {
  font-family: "Roboto Slab", serif;
  padding: 16px;
  background-color: black;
  color: white;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-content {
  flex: 1 1 50%;
}
