* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul p {
  color: white;
}

:root {
  --dark: #1a090d;
  --purp: #4a314d;
  --mid: #6b6570;
  --light: #a8ba9a;
  --signal: #ace894;
}

.Ord {
  font-size: 0.5cm;
  margin-top: -80px;
  color: #fff;
}

.title {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  align-items: center;
  font-family: Lucida handwriting;
}

body {
  margin: 0%;
  padding: 0;
  margin-right: 0%;
}

header {
  font-family: "Roboto Slab", serif;
  padding: 30px;
  background-color: #262626;
  color: #262626;
}

div {
  width: 100%;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 0px;
}
/*
Mapshortcut
*/
a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: white;
}

/*
Footer
*/
.fixed {
  background-color: #262626;
  position: fixed;
  bottom: 0px;
  color: white;
}

.fixed:hover {
  background-color: white;
  color: #262626;
}

ul a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: arial;
  text-align: center;
}

li a {
  float: left;
  width: 100%;
  display: block;
  padding: 1%;
  text-decoration: none;
  font-size: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

::selection {
  background-color: var(--mid);
  color: var(--signal);
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  background-color: var(--signal);
  border-radius: 20px;
  border: 2px solid var(--dark);
}

aside {
  align-content: center;
}

.nav-area {
  position: fixed;
  top: 1vw;
  left: 3vw;
  font-size: 3rem;
}

nav {
  position: fixed;
  top: 0;
  left: -15vw;
  width: 15vw;
  height: 100vh;
  transition: 600ms ease-in-out;
  background-color: black;
  box-shadow: 0 1rem 1rem var(--dark);
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

nav a {
  font-size: 3rem;
  color: var(--light);
  text-decoration: none;
  transition: filter 600ms ease-out;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked + nav {
  left: 0;
}

main {
  padding: 0 15vw;
}

main h2 {
  margin-top: 5rem;
}

main p {
  line-height: 1.6;
  max-width: 80ch;
}

main h2 + P {
  margin-top: 2rem;
}

main p + P {
  margin-top: 1rem;
  justify-content: center;
}

.pizza-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 35px;
  font-family: "sans-serif";
}

.vego-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 35px;
  font-family: sans-serif;
}

.pizza-card {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #333;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: "sans-serif";
}

.vanliga-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  font-family: "sans-serif";
}
.vanliga-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.ovanliga-card {
  width: 1000px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.adress {
  border: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 50px;
  display: block;
}

.startsidaicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  left: 125px;
  font-family: Lucida handwriting;
  font-size: 1.3rem;
}

.pastaicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 125px;
  font-family: Lucida handwriting;
  font-size: 1.3rem;
}

.hamburgareicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 300px;
  font-family: Lucida handwriting;
  font-size: 1.2rem;
}

.pizzaicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 500px;
  font-family: Lucida handwriting;
  font-size: 1.3rem;
}

.vegoicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 650px;
  font-family: Lucida handwriting;
  font-size: 1.3rem;
}

.pastaiconh {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 300px;
  font-family: Lucida handwriting;
  font-size: 1.3rem;
}

.hamburgareiconp {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 480px;
  font-family: Lucida handwriting;
  font-size: 1.2rem;
}

.hamburgareiconv {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 650px;
  font-family: Lucida handwriting;
  font-size: 1.2rem;
}

.fa-map-marked-alt {
  font-size: 5rem;
}

.fa-house-user {
  font-size: 3rem;
}

/* 
Beroende på skärmstorlek
*/
.horizontal-menu {
  display: none;
  left: 700px;
  top: 2px;
}

.tider-card {
  display: none;
  width: 350px;
  height: 350px;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: "Lucida Console";
  position: absolute;
  top: 100px;
  right: 10px;
}

@media (min-width: 1800px) {
  .container {
    display: none;
  }

  .horizontal-menu {
    display: block;
  }

  .burger-menu {
    display: none;
  }
}

@media (min-width: 1600px) {
  .tider-card {
    display: flex;
  }
}

@media (max-width: 1800px) {
  .container {
    display: block;
  }

  .burger-menu {
    display: none;
  }
}

@media (max-width: 1250px) {
  .container {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}

@media (max-width: 500px) {
  .adress {
    display: none;
  }
}

@media (max-width: 430px) {
  .vanliga-card {
    display: none;
  }

  .ovanliga-card {
    display: flex;
  }
}

body {
  font-family: "Dosis", sans-serif;
}

.navbar {
  width: 300px;
  height: 100%;
  background-color: #262626;
  position: fixed;
  top: 0;
  left: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20% 0 0;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}

.change {
  left: 0;
}

.hamburger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  left: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  height: 3px;
  background-color: white;
  transition: all 0.8s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
  text-align: right;
}

.nav-item {
  list-style: none;
  margin: 25px;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #eee;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: chocolate;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}
